/* Reset some default styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

/* Styling for the app container */
.app {
  text-align: center;
  padding: 20px;
}

/* Styling for the question card */
.question-card {
  background-color: #2e2e2e;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}
h6{
  color: #007bff;
  align-self: flex-start;
}

/* Styling for the reveal answer button */
.question-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  margin-inline: 5px;
}

/* Styling for the next question button */
.question-card button.next-button {
  background-color: #28a745;
}

/* Styling for the congratulatory message */
.question-card p.congrats {
  font-size: 20px;
  color: #28a745;
  margin-top: 20px;
}

/* Styling for the app title */
h1 {
  margin-bottom: 20px;
}

/* Centering content */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
   /* Add pointer-events property */

}
p{
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
   /* Add pointer-events property */
   text-align: left;

}